@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

    @{
        ViewData["Title"] = "Index";
    }

    <h2>Roles @Model.Count()</h2>

    <form action="/Admin/NewRole" method="post">
        <input type="text" name="Name" class="form-control"/>
        <button type="submit" class="btn btn-success">Create Role</button>
    </form>
    
    <table class="table table-bordered">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Actions</td>
        </tr>

        @foreach (IdentityRole role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td>
                    <a asp-action="DeleteRole" asp-route-name="@role.Name" class="btn btn-danger"> Delete </a>
                </td>
            </tr>
        }

    </table>

